@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nancy ASP.NET Web Optimization Example</title>
    @Html.Raw(Styles.Render("~/css").ToString())
</head>
    <body>
        <div class="wrap">
            @RenderBody()
        </div>
       @Html.Raw(Scripts.Render("~/js").ToString())
    </body>
</html>
