@{
    Layout = "Views/_Layout.cshtml";
}
<h1>Nancy ASP.NET Web Optimization Example</h1>
<h2>Check page source and console.</h2>

<h1 class="red">This is red!</h1>
<h1 class="green">This is green!</h1>